<% provide(:nav_style, "transparent-nav") %>
<div class="welcome-header">
  <div class="header-text">
    <h1>Come shop with us</h1>
    <p>20% off on select accessories</p>
    <button type="button"><%= link_to"Shop Now", category_path(2) %></button>
  </div>
</div>

<div class="banner">
  <p>Free shipping on orders over <strong>$75</strong></p>
</div>

<div class="container-fluid">
  <div class="feature-item">
    <img src="https://static1.squarespace.com/static/57e557ab9de4bb765144cdf5/57e92aa5be6594ead4a5eaa6/58519a1abebafb0499f4c1c0/1481742884184/PUP+Twitter+Header+02.png?format=1500w">
    <div id="feature-cap">
      <p>Featured Item Power Pin Ups</p>
      <%= link_to "Shop Now", "#", class: 'btn' %>
    </div>
  </div>
</div>

<section class="collections container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="feature-image">
        <%= link_to image_tag("accessories.jpg"), category_path(2) %>
        <span class="image-caption" style="color:white;">Accessories</span>
      </div>
      <div class="feature-image">
        <%= link_to image_tag("apparel.jpg"), category_path(1) %>
        <span class="image-caption" style="color:white;">Apparel</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="feature-image-collection">
        <%= link_to image_tag("http://cdn.iphonephotographyschool.com/wp-content/uploads/Balog.jpg"), "#" %>
        <span class="image-caption" id="cap" style="color:white;">Collection</span>
      </div>
    </div>
  </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg">
  <filter id="blur1">
    <feGaussianBlur stdDeviation="3"/>
  </filter>
</svg>
