<h1 class="cart-title">Cart</h1>
<div class="table-cart">
  <table class="table table-hovered">
    <thead>
      <tr>
        <th></th>
        <th>Quantity</th>
        <th>Price</th>
      <tr>
    </thead>
    <tbody>
        <% @cart.orders.each do |order| %>
        <tr>
           <td><%= image_tag(order.product.image.url(:thumb)) %> <%= order.product.name %></td>
           <td></br><%= order.quantity %></td>
           <td></br><%= number_to_currency(order.product.price) %></td>
         <% end %>
       </tr>
    </tbody>
  </table>
</div>

<div class="cart-checkout pull-right">
  <p><strong>Total:</strong> <%= number_to_currency(@cart.total_price) %></p>
  <%= form_tag checkout_cart_path(@cart) do %>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
    data-key="pk_test_5YfcwOLRWfzdZ4HHQSRhmmYr"
    data-amount=<%= @cart.total_price * 100 %>
    data-name="Shoppelyft"
    data-description="Item Order"
    data-locale="auto"
    data-panel-label="Checkout"
    data-billingAddress="true"
    data-shippingAddress="true"
    </script>
  <% end %>

  <form action="/your-server-side-code" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_5YfcwOLRWfzdZ4HHQSRhmmYr"
      data-amount="999"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      shippingAddress="true"
      billingAddress="true"
    </script>
  </form>
</div>
