<div class="container">
  <h1>Add Product</h1>
  <%= form_for @product, html: { multipart: true } do |f| %>
     <div class="form-all form-group">
       <%= f.label :name %>
       <%= f.text_field :name, class: 'form-control', placeholder: "Product Name", required: true  %>
     </div>
     <div class="form-all form-group">
       <%= f.label :price %>
       <%= f.text_field :price, class: 'form-control', placeholder: "Price", required: true %>
     </div>
     <div class="form-all form-group">
       <%= f.label :description %>
       <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Item Description", required: true %>
     </div>
     <div class=" form-all form-group">
       <%= f.label "Add a thumbnail" %>
       <%= f.file_field :image %>
     </div>
     <div class="form-group">
       <%= f.submit "Save", class: 'btn btn-primary' %>
     </div>
  <% end %>
</div>
