<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="col-md-4" id="social-links">
        <h4>Follow Us</h4>
        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="col-md-4">
        <h4>About Adroit</h4>
        <li><%= link_to "FAQ", "#" %></li>
        <li><%= link_to "Support", "#" %></li>
        <li><%= link_to "Privacy Policy", "#" %></li>
        <li><%= link_to "Terms & Conditions", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
      <ul class="col-md-4">
        <% if cookies[:saved_subscriber] %>
          Thank you for subscribing!
        <% else %>
          <h4>Subscribe to our newsletter</h4>
          <li><%= render 'subscribers/form' %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="copyright container">
    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Adroit</p>
  <div>
</footer>
