<!DOCTYPE html>
<html>
<head>
  <title>Shoppelyft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar-top">
      <li><%= link_to image_tag("logo.png"), root_path %></li>
      <div id="nav-links">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All Items", products_path %></li>
        <% category.each do |category| %>
          <li><%= link_to category.name, category %></li>
        <% end %>
        <li>
          <% if current_user_authorized? %>
            <%= link_to "Add Item", new_product_path %>
          <% end %>
        </li>
        <% if current_user.present? %>
          <li class="pull-right"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        <% if @cart.present? %>
          <li class="cart-btn pull-right"><i class="fa fa-shopping-cart fa-lg"></i> <%= link_to "Cart(#{@cart.products.count})", cart_path(@cart)%></li>
        <% else %>
          <li class="cart-btn pull-right"><i class="fa fa-shopping-cart fa-lg"></i> <%= link_to "Cart", carts_path %></li>
        <% end %>
        <li class="pull-right" id="social-btn"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="pull-right" id="social-btn"><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li class="search-bar pull-right">
           <%= form_tag(products_path, :method => "get", id: "search-form") do %>
             <%= text_field_tag :search, params[:search], placeholder: "Search" %>
             <%= button_tag(type: "submit", class: "btn") do %>
              <i class="fa fa-search"></i>
             <% end %>
           <% end %>
        </li>
    </div>
  </nav>
  <% if flash[:notice] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  <%= render 'layouts/footer' %>
<%= yield %>

</body>
</html>
