<!DOCTYPE html>
<html>
<head>
  <title>Shoppelyft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><%= link_to image_tag("logo.png"), root_path %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <% if @cart.present? %>
        <%= link_to "Cart", cart_path(@cart), class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Cart", carts_path, class: 'btn btn-primary' %>
      <% end %>
      <% if user_signed_in? %>
        <li class="pull-right"> <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary'%> </li>
      <% else %>
        <li class="pull-right"> <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> </li>
        <li class="pull-right"> <%= link_to "Log In", new_user_session_path, class: 'btn btn-default' %> </li>
      <% end %>
    </ul>
  </nav>
  <% if flash[:notice] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
